<div class="umb-packages-section fluidity__dashboard">

    <div class="umb-packages clearfix">

        <!-- ngRepeat: package in vm.popular -->
        <div class="umb-package fluidity__dashboard__item" ng-repeat="x in [].constructor(10) track by $index">
            <div class="inner">

                <div class="fluidity__dashboard__item-overlay">
                    <a href=""><i class="icon-add"></i></a>
                    <a href=""><i class="icon-link"></i></a>
                </div>

                <div class="umb-package-icon">
                    <i class="umb-content-grid__icon icon-umb-users"></i>
                </div>

                <div class="umb-package-info">
                    <div class="umb-package-name ng-binding">Contour</div>
                    <div class="umb-package-description ng-binding">Contour makes creating contact forms, en<!-- ngIf: package.excerpt > (package.excerpt | limitTo: 40) --><span ng-if="package.excerpt > (package.excerpt | limitTo: 40)" class="ng-scope">...</span></div>

                    <div class="umb-package-numbers">
                        <small class="umb-package-downloads">
                            <i class="icon-server-alt"></i> <strong>148230</strong>
                        </small>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>